[submodule "packages/plugin"]
	path = packages/plugin
	url = https://github.com/raulcorreia7/theme-browser.nvim.git
	branch = main
[submodule "packages/registry"]
	path = packages/registry
	url = https://github.com/raulcorreia7/theme-browser-registry.git
	branch = master
